# Dependencies
node_modules

# Build output
build
dist

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Vite
*.local

# Media files
*.webm
*.mp4
